<%= form_with(model: makanan, local: true) do |form| %>
  <% if makanan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(makanan.errors.count, "error") %> prohibited this makanan from being saved:</h2>

      <ul>
      <% makanan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
